<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item" *ngFor="let oneProject of projects">
                <a [routerLink]="['/project-details', oneProject._id]" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                          <span class="link-text">View Details</span>
                        </div>
                    </div>
                    <div class="color-box-one" [style.backgroundColor]="oneProject.colorOne"></div>
                    <div class="color-box-one" [style.backgroundColor]="oneProject.colorTwo"></div>
                    <div class="color-box-one" [style.backgroundColor]="oneProject.colorThree"></div>
                </a>
                <div class="portfolio-caption">
                    <h3>{{oneProject.name}}</h3>
                    <p class="text-muted">{{oneProject.mediaType}}: {{oneProject.fileType}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
