.cap-image-size {
  max-height: 200px;
}

.color-box-one {
  display: inline;
  float: left;
  height: 50px;
  width: 50px;
  border: 1px solid red;
}

.table-color {
  background-color: white;
}
.table {
  background-color: white;
  
}
