<div class="container-fluid table">

  <div class="row top-row">
    <div class="col-md-3">
      <h5>Project</h5>
    </div>
    <div class="col-md-3">
      <h5>Media Type</h5>
    </div>
    <div class="col-md-3">
      <h5>File Type</h5>
    </div>
    <div class="col-md-3">
      <h5>Due Date</h5>
    </div>
  </div>

<div *ngFor="let oneProject of projects">
  <div class="row">
    <div class="col-md-3">
      <p>{{oneProject.name}}</p>
    </div>
    <div class="col-md-3">
      <p>{{oneProject.mediaType}}</p>
    </div>
    <div class="col-md-3">
      <p>{{oneProject.fileType}}</p>
    </div>
    <div class="col-md-3">
      <p>{{oneProject.dueDate | date:'yyyyMMMdd'}}</p>
    </div>
  </div>
  <br>
  <div class="row bottom-row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <div class="color-box-one" [style.backgroundColor]="oneProject.colorOne"> {{oneProject.colorOne}} </div>
      <div class="color-box-one" [style.backgroundColor]="oneProject.colorTwo"> {{oneProject.colorTwo}} </div>
      <div class="color-box-one" [style.backgroundColor]="oneProject.colorThree"> {{oneProject.colorThree}} </div>
    </div>
    <div class="col-md-3">
      <a [routerLink]="['/project-details', oneProject._id]"><button>
        View Details
      </button></a>
      <br>
      <button (click)="acceptProject(oneProject._id)"> Design Me </button>
    </div>
  </div>
</div>

</div>
