<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>


<body>

<div class="nav w-nav" data-animation="default" data-collapse="medium" data-duration="400">
  <div class="w-container">


    <a class="nav-link w-nav-link" routerLink="/">Home</a>

    <nav class="mobile-menu w-nav-menu">
      <!-- <a class="nav-link w-nav-link" routerLink='/'><button (onclick)="myFunction()">Toggle</button></a> -->
      <a class="nav-link w-nav-link" routerLink="/project-list">Create</a>
      <a class="nav-link w-nav-link" routerLink="/project-request">Request</a>
      <a *ngIf="user" class="nav-link w-nav-link" routerLink='/user-profile'>{{user.username}}</a>
      <a class="nav-link w-nav-link logout-button" routerLink='/login'><span (click)="logout()"> log out </span></a>
    </nav>
  </div>
</div>

<a class="logo w-nav-brand" href="/"><img src="https://logo.svg"></a>

<div class="index-main">

  <router-outlet>
  </router-outlet>



</div>



<script
  src="//code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
