<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">

<table class="table table-striped">

  <tr>
    <td>Project Name</td>
    <td><input type="text" [(ngModel)]="formInfo.name" name="name" label="Name" placeholder="name"></td>
  </tr>
  <tr>
    <td>Media Type</td>
    <td>
      <input type="radio" [(ngModel)]="formInfo.mediaType" name="mediaType[]" value="logo"> Logo
      <input type="radio" [(ngModel)]="formInfo.mediaType" name="mediaType[]" value="ad"> Ad
      <input type="radio" [(ngModel)]="formInfo.mediaType" name="mediaType[]" value="banner"> Banner
    </td>
  </tr>
  <tr>
    <td>File Type</td>
    <td>
      <input type="checkbox" [(ngModel)]="formInfo.jpg" name="fileType[]" value="jpg"> JPG
      <input type="checkbox" [(ngModel)]="formInfo.png" name="fileType[]" value="png"> PNG
      <input type="checkbox" [(ngModel)]="formInfo.vector" name="fileType[]" value="vector"> Vector
    </td>
  </tr>
  <tr>
    <td>Color Palette</td>
    <td>
      <input type="color" id="colorOne" [(ngModel)]="formInfo.colorOne" name="colorFirst">
      <input type="color" [(ngModel)]="formInfo.colorTwo" name="colorSecond">
      <input type="color" [(ngModel)]="formInfo.colorThree" name="colorThird">

    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <input id="picture-input" type="file" [(ngModel)]="formInfo.images"  name="picture">

    </td>
  </tr>
  <tr>
    <td>Description</td>
    <td>
      <input type="text" name="desc" [(ngModel)]="formInfo.desc" label="Description" placeholder="Description">

    </td>
  </tr>
  <tr>
    <td>
      <button (click)="addProject()">Submit</button>

    </td>
  </tr>
</table>
  </div>
  <div class="col-md-4">
  </div>
</div>
<!-- Bye Table -->



<!-- <div>
  <form action="post" method="post" enctype="multipart/form-data">
    <input type="text" [(ngModel)]="formInfo.name" name="name" label="Name" placeholder="name">
    <br>
    <input type="radio" [(ngModel)]="formInfo.mediaType" name="mediaType[]" value="logo"> Logo
    <input type="radio" [(ngModel)]="formInfo.mediaType" name="mediaType[]" value="ad"> Ad
    <input type="radio" [(ngModel)]="formInfo.mediaType" name="mediaType[]" value="banner"> Banner
    <br>
    <input type="checkbox" [(ngModel)]="formInfo.jpg" name="fileType[]" value="jpg"> JPG
    <input type="checkbox" [(ngModel)]="formInfo.png" name="fileType[]" value="png"> PNG
    <input type="checkbox" [(ngModel)]="formInfo.vector" name="fileType[]" value="vector"> Vector
    <br>
    <input type="color" id="colorOne" [(ngModel)]="formInfo.colorOne" name="colorFirst">
    <input type="color" [(ngModel)]="formInfo.colorTwo" name="colorSecond">
    <input type="color" [(ngModel)]="formInfo.colorThree" name="colorThird">
    <br>
    Due Date:<input type="date" [(ngModel)]="formInfo.dueDate" name="dueDate">
    <br>
    <input id="picture-input" type="file" [(ngModel)]="formInfo.images"  name="picture">
    <br>
    <input type="text" name="desc" [(ngModel)]="formInfo.desc" label="Description" placeholder="Description">

    <button (click)="addProject()">Submit</button>

  </form>
</div> -->
