 .form-group {
   background-color: white;
 }

 .request-form {
   padding: 50px;
 }

 table {
     background-color: rgba(0,0,0,0.38);
     color: white;
 }

input {
  color: black;
}
 button {
   background-color: rgba(0,0,0,0.38);
   color: white;
   border-radius: 1px;
   border-style: none;
 }
