.the-form {
  padding: 20px;
}

.transparent-table {
  /*background:rgba(0, 0 ,0, 0.48);*/
  padding:40px;
  color: white;
  text-align: center;
}

.fancy-text {
  font-family: 'Lobster Two', cursive;
  text-transform: lowercase;
  font-size: 30px;
}

.title-text {
  font-size: 50px;
}
