<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-sm-offset-2 the-form">
      <div class="transparent-table">
        <div class="fancy-text title-text">so tell us more about what you'd like to do...</div>
        <div class="fancy-text">
          <a [routerLink]="['/project-request']">i have an idea and need a designers assistance</a>
        </div>
        <div class="fancy-text">
          <a [routerLink]="['/project-list']">i'm a designer and would love to help with your project</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="col-md-3">
  <a [routerLink]="['/project-details', oneProject._id]"><button>
    View Details
  </button></a>
</div> -->
