<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 col-sm-offset-1 the-form">
      <div class="transparent-table">
          <h2>Welcome to design.Me!</h2>
          <h1>Create <span class="this-text">or</span> request a design?</h1>
          <span class="fancy-text"><a [routerLink]="['/project-list']">Create</a></span>
          <span class="fancy-text"><a [routerLink]="['/project-request']">Request</a></span>
        <!-- <div class="fancy-text">
          <a [routerLink]="['/project-list']">Design</a>
        </div> -->
      </div>
    </div>
  </div>
</div>
