<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-2">
    <table class="table table">
      <tr>
        <td><div class="color-box-one" [style.backgroundColor]="project.colorOne"> {{project.colorOne}} </div></td>
      </tr>
      <tr>
        <td><div class="color-box-one" [style.backgroundColor]="project.colorTwo"> {{project.colorTwo}} </div></td>
      </tr>
      <tr>
        <td><div class="color-box-one" [style.backgroundColor]="project.colorThree"> {{project.colorThree}} </div></td>
      </tr>
    </table>
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-8">
    <table class="table table">
      <tr>
        <td>Title</td>
        <td>{{project.name}}</td>
      </tr>
      <tr>
        <td>Description</td>
        <td>{{project.desc}}</td>
      </tr>
      <tr>
        <td>Media Type</td>
        <td>{{project.mediaType}}</td>
      </tr>
      <tr>
        <td>File Type</td>
        <td>{{project.fileType}}</td>
      </tr>
      <tr>
        <td>Due Date</td>
        <td>{{project.dueDate | date:'yyyyMMMdd' | uppercase}}</td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </table>

  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <button class="nav-button" (onclick)="deleteProject()">Submit</button>
  </div>
</div>
