.top-row {
  margin-top: 10px;
}

ul {
  list-style: none;
}

.project-details {
  color: white;
}

.italicize {
  font-family: 'Lobster Two', cursive;
  text-transform: lowercase;
  font-size: 79px;
}
.all-color-boxes {
  height: 86vh;
}

.color-box-one {
  height: 25%;
  width: 90%;
  border: 7px solid rgba(14, 80, 77, 0.22);
}


.nav-button {
  background-color: rgba(0,0,0,0.34);
  color: white;
  font-size: 30px;
  height: 100px;
  width: 194px;
  text-align: center;
}


/*.hexagon {
  position: relative;
  width: 150px;
  height: 86.60px;
  background-color: #64C7CC;
  margin: 43.30px 0;
}
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
}
.hexagon:before {
  bottom: 100%;
  border-bottom: 43.30px solid #64C7CC;
}
.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 43.30px solid #64C7CC;
}*/
