/*.bgimage {
  background-image: url(../../assets/main2-bg.png);
  min-height: 86vh;
}*/

ul {
  list-style: none;
}

table {
  color: white;
}

.all-color-boxes {
  height: 86vh;
}

.color-box-one {
  height: 25%;
  width: 90%;
  border: 7px solid rgba(14, 80, 77, 0.22);
}


.nav-button {
  background-color: rgba(0,0,0,0.34);
  color: white;
  font-size: 30px;
  height: 100px;
  width: 194px;
  text-align: center;
}
