<div class="row top-row">
  <!-- <div class="col-md-1">
  </div> -->


  <!-- <div class="col-md-2 all-color-boxes">
    <br>
        <div class="hexagon" [style.backgroundColor]="project.colorOne"> {{project.colorOne}} </div>
    <br>
        <div class="hexagon" [style.backgroundColor]="project.colorTwo"> {{project.colorTwo}} </div>
    <br>
        <div class="hexagon" [style.backgroundColor]="project.colorThree"> {{project.colorThree}} </div>
  </div> -->

  <div class="col-md-2 col-md-offset-1 all-color-boxes">
    <br>
        <div class="color-box-one" [style.backgroundColor]="project.colorOne"> {{project.colorOne}} </div>
    <br>
        <div class="color-box-one" [style.backgroundColor]="project.colorTwo"> {{project.colorTwo}} </div>
    <br>
        <div class="color-box-one" [style.backgroundColor]="project.colorThree"> {{project.colorThree}} </div>
  </div>


  <div class="col-md-7 col-md-offset-1 project-details">
        <p class="italicize">{{project.name}}</p>
        <p>{{project.desc}}</p>
        <p>{{project.mediaType}}</p>
        <p>{{project.fileType}}</p>
        <p>{{project.dueDate | date:'yyyyMMMdd' | uppercase}}</p>
  </div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <button class="nav-button" (onclick)="deleteProject()">Submit</button>
  </div>
</div>

</div>
